body {
    padding-top: 10px;
}

#list {
    border: solid black 1px;
    width: 300px;
    height: 300px;
    overflow: auto;
    background-color: white;
}

#buttons {
    width: 300px;

}

#inputField {
    width: 300px;
    border: solid black 1px;
}

body {
    vertical-align: middle;
    background-color: deepskyblue;
}